* {
  font-family: "Jost", sans-serif;
  /* font-family: "Open Sans", Sans-serif; */
  text-decoration: none;
  list-style: none;
}
nav {
  display: flex;
  font-weight: 600;
}
ul a {
  padding: 5px;
  color: black;
}

ul a:hover {
  border-bottom: 2px solid #1e63a9;
  text-decoration: none;
  color: #1e63a9;
  /* border-bottom: 2px solid #1e63a9; */
}
#navigation-items {
  font-size: 14px;
  margin-top: 23px;
  gap: 10px;
  display: flex;
  list-style: none;
  padding-left: 22%;
}

.dropbtn {
  width: 123px;
  font-weight: 600;
  color: #000;
  background-color: #fff;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border: solid 0.5px rgb(163, 163, 163);
  width: 250px;
  border-radius: 5px;
  display: none;
  position: absolute;
  background-color: #ffff;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

.dropdown-content a {
  font-size: 14px;
  font-weight: 300;
  color: black;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a i {
  margin-left: 200px;
}

.dropdown-content a:hover {
  border: none;
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #1e63a9;
  border-bottom: 2px solid #1e63a9;
  background-color: #fff;
}

.dropdown-inner {
  position: relative;
  display: inline-block;
}

.dropdown-content-inner {
  margin-top: -64px;
  margin-left: 252px;
  border: solid 0.5px rgb(163, 163, 163);
  width: 250px;
  border-radius: 5px;
  display: none;
  position: absolute;
  background-color: #ffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-inner a {
  font-size: 14px;
  font-weight: 300;
  color: black;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content-inner a i {
  margin-left: 200px;
}

/* Change color of dropdown links on hover */
.dropdown-content-inner a:hover {
  border: none;
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown-inner:hover .dropdown-content-inner {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-inner:hover .dropbtn {
  color: #1e63a9;
  border-bottom: 2px solid #1e63a9;
  background-color: #fff;
}

nav ul li {
  padding-left: 15px;
}
.vl {
  margin-top: 8px;
  border-right: 0.5px solid rgb(24, 24, 24);
  height: 50px;
  position: absolute;
  left: 85%;
  margin-left: -3px;
  top: 10;
}
.icon {
  margin-top: 10px;
  margin-left: 100px;
}
.icon a {
  text-decoration: none;
}

.icon i {
  font-size: 14px;
  padding: 10px;
  border-radius: 50%;
  border: solid 1px #33378d;
  color: #33378d;
  margin: 5px 3px;
}
.icon a #active {
  padding: 10px 13px;
}

.icon i:hover {
  color: white;
  background-color: #33378d;
}

.main {
  margin: 0px 119px;
}
.heading {
  font-size: 41px;

  padding: 10% 45%;
}

.hor-div {
  margin-left: 20px;
  height: 2px;
  width: 80px;
  background: rgb(0, 122, 255);
}
.clients {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
}
.client-img img {
  margin: 10px;
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
    hue-rotate(0deg);
}

.client-img .hor-div {
  margin-left: 5px;
  height: 1px;
  width: 215px;
  background: rgb(0, 122, 255);
}
.ver-div {
  margin-top: -127px;
  margin-left: 225px;
  width: 1px;
  height: 115px;
  background: rgb(0, 122, 255);
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex: 1 100%;
}

.footer {
  margin-top: 40px;
  background: linear-gradient(rgba(15, 15, 15, 0.5), rgba(17, 16, 16, 0.5)),
    url("https://www.landchesterengineers.com/wp-content/uploads/2023/03/TrimbleS8-app-tunnel-8735-1.jpg");
  background-size: cover;
}
.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  color: white;
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  color: white;
  font-weight: 400;
  font-size: 17px;
}

.footer address {
  font-style: normal;
  color: #eeeaea;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(0, 0, 0);
  border-radius: 100px;
  color: #fff9f9;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  padding-top: 100px;
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 0.25em;
}

.nav__ul a {
  color: #b4b4b4;
}

.nav__ul ul li :hover {
  border: none;
}

.nav__ul a:hover {
  border: none;
  color: white;
  text-decoration: none;
}
.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #1c1c1c;
}

.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}
.mobile-no a,
.email a,
.social-media a {
  color: white;
}
.social-media {
  margin: 20px;
  display: flex;
  gap: 1rem;
}
.social-media a i {
  font-size: 31px;
}
.social-media a:hover {
  color: #1f3bf1;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}
